html {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
}

body {
	font-family: "Courier", monospace;
	min-height: 100%;
}

a {
	color: inherit;
}

h1 {
	font-family: "acta-display", serif;		
	font-size: 5vh;
	margin: 5vmin auto;
	line-height: 40%;
	max-width: 56vmin;
}

p, div {
	font-family: "Courier", monospace;
	font-size: 1.5vh;
	max-width: 50vmin;
	margin: 1vmin auto;
}
